/*Weather App CSS File*/

body {
    max-width: 42em;
    padding: 2em;
    margin: 0 auto;
    background-color: #161616;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    ;
}

h1 {
    margin-bottom: 1.375em;
    font-weight: 100;
    font-size: 2em;
    text-transform: uppercase;
}